.single {
  display: flex;
  width: 100%;
  .singleContainer {
    flex: 6;

    .top {
      padding: 20px;
      display: flex;
      gap: 20px;

      .left {
        font-family: sans-serif-medium;
        font-size: 26px;
        flex: 1;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 20px;
        position: relative;

        .data {
          text-align: center;

          @keyframes top-clip {
            0%{}
            50%{transform: translateY(21px);}
            100%{transform: translateY(21px);}
          }
          
          @keyframes bottom-sand-path {
            0%{}
            50%{transform: translateY(0);}
            100%{transform: translateY(0);}
          }
          
          @keyframes bottom-sand-g {
            0%{}
            85%{transform: translateY(0);}
            100%{transform: translateY(-9px);}
          }
          
          @keyframes hourglass-rotation {
            50%{transform: rotateZ(0);}
            100%{transform: rotateZ(180deg);}
          }
          
          #top-sand #top-clip-path rect,
          #bottom-sand path,
          #bottom-sand g,
          svg {
            animation-duration: 5s;
            animation-delay: 1s;
            animation-iteration-count: infinite;
          }
          
          #top-sand #top-clip-path rect {
            animation-name: top-clip;
          }
          
          #bottom-sand path {
            transform: translateY(21px);
            animation-name: bottom-sand-path;
          }
          
          #bottom-sand g {
            animation-name: bottom-sand-g;
          }
          
          svg {
            animation-name: hourglass-rotation;
          }
        }
      }
    }
  }
}